@import
url('https://fonts.googleapis.com/css2?family=Alkatra&family=Overpass:ital,wght@0,400;1,300&display=swap');

//////?variables
$primary-color: #ED4264;
$secondry-color: #FFEDBC;
$AddBtn-color: rgb(22, 169, 22);
$linear-gradient: linear-gradient(to right , $primary-color 40%, #FFEDBC);
$border-radius: 20px;

//////?mixin
@mixin container($width){
   width: $width;
   margin: auto;
}

@mixin lineargradient-text($bg-color){
   background: $bg-color;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

@mixin btn-design($color){
   color: $color;
   border: 1px solid $color;
   background: transparent;
   &:hover{
      background: $color;
      color: white;
   }
}

@mixin centeringElement(){
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
}